.hidden-element {
    visibility: hidden;
}

.al-content {
    padding: 0 !important;
}

.back-green {
    background-color: #70BF41;
}

.title-white {
    color: #ffffff;
}

button.btn.btn-default {
    border-width: 2px;
    color: #51A7F9;    
    border-color: #51A7F9;
}

.text-blue {
    color: #51A7F9;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

