.gradiente {
    background-image: linear-gradient(to left,#ba1b8c 50%,#ff00bd, #ed1e79 33%, #f95c97 66%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 17pt;
    font-weight: bold;
  }

  .pd-0 {
    padding: 0;
}

.card-header {
    background-color: #dde1e9 !important;
}

.btn-link {
    color:black !important;
}