<div class="container-fluid animated fadeIn fast">
  <div class="row">
    <div class="col-md-12">
      <h1 class="gradiente text-center" style="font-size:25pt; font-weight:500;padding-top:45px;padding-bottom:45px">PREGUNTAS FRECUENTES</h1>
    </div>
  </div>
  <div class="row" style="padding-bottom:50px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1.- ¿Cuánto puedo pedir?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Podrás obtener un préstamo desde $2,000 hasta $15,000 pesos en la primera ocasión.
              <br>
              <br> A medida de que vayas siendo un cliente cumplido y vayas generando un buen historial crediticio con nosotros,
              podremos irte ofreciendo un mayor monto, un mayor plazo y una mejor tasa.
              <br>
              <br> Qué esperas, ¡solicita tu adelanto hoy!

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2.- ¿En cuánto tiempo puedo pagar mi préstamo?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              El plazo para pagar tu préstamo es de 3 quincenas.
              <br>
              <br> La primera vez que solicitas tu préstamo con nosotros, nosotros te daremos el plazo, el cual depende del monto
              que te prestemos.
              <br>
              <br> Te recordamos que las fechas de pago son los días 15 y 30 de cada mes.

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3.- ¿Cuáles son los requisitos?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Entra a adelantoexpress.com.mx y genera tu aplicación online a través de tu computadora, tu celular o tu tablet.
              <br>Los requisitos indispensables son:
              <br> — ·Contar con una cuenta bancaria propia con cuenta CLABE Interbancaria.
              <br> — Estado de cuenta bancario vigente de la cuenta proporcionada
              <br> — Credencial para votar (INE / IFE) a color vigente.
              <br> — CURP.
              <br> — Contar con historial crediticio sano.
              <br> — 2 recibos de nóminas no mayor a dos meses
              <br> — comprobante de domicilio no mayor a dos meses
              <br>
              <br> Tu CURP la puedes encontrar en la parte frontal de tu credencial para votar (IFE / INE).
              <br>
              <br> Te recordamos que tu cuenta CLABE de 18 dígitos la puedes obtener directamente en tu banco o en un estado
              de cuenta a tu nombre, y esta, es diferente a los 16 números de tu tarjeta de débito.

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                4.- ¿En cuánto tiempo me da respuesta sobre mi solicitud para mi adelanto?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Después de completar tu aplicación en línea, recibirás una correo electrónico del equipo de AvancExpress para confirmar tus
              datos. La respuesta sobre tu solicitud de préstamo la recibirás el mismo día siempre y cuando sean días y horas
              laborables.
              <br>
              <br> Nuestro horario de servicio es de lunes a viernes de 9 am a 6 pm y los sábados de 9 am a 2 pm.

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                5.- Si ya fue aprobado mi solicitud de adelanto ¿en cuánto tiempo me depositarán mi dinero?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              Una vez que tengas tu préstamo aprobado, te depositaremos tu dinero en 30 minutos siempre y cuando sea día laborable y este
              dentro del horario de nuestro horario de servicio.
              <br>
              <br> Ten en cuenta que el depósito lo haremos a la cuenta CLABE de 18 dígitos que nos proporcionaste.
              <br>
              <br> Hay algunas ocasiones que por procesos bancarios ajenos a nosotros, los depósitos pueden demorarse hasta 48
              horas por ser días inhábiles u otras situaciones que no controlamos nosotros. Esto sucede con muy poca frecuencia.

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                6.- ¿Dónde puedo pagar mi préstamo?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              Para tu comodidad, te ofrecemos diferentes formas de pago. Escoge la que más te convenga:
              <br>
              <br>
              <span style="font-weight:bold">En ventanilla bancaria o cajero:</span>
              <br> Banco: Banorte. Cuenta: 0357624663
              <br>
              <br>
              <span style="font-weight:bold">Transferencia electrónica:</span>
              <br> Desde cualquier otro banco con la CLABE Interbancaria: 072052003576246630
              <br>
              <br> IMPORTANTE: Si decides hacer una transferencia bancaria, y no caben los 11 dígitos de tu referencia asignada,
              anótalos en donde dice “Concepto de Pago”, sin letras ni espacios adicionales. Recuerda: da de alta la cuenta
              como “Pago de servicios”.

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                7.- ¿Qué diferencia hay entre este adelanto de nómina y los otros?
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              Hemos creado una solución a tus necesidades pensando en ayudarte a conseguir lo QUE QUIERES y lo QUE NECESITAS. Somos transparentes
              en nuestras tasas y comisiones y tenemos precios éticos.
              <br>
              <br> Con nosotros puedes pedir hasta 25% de tu salario en la primera ocasión y pagarlo hasta en 3 quincenas, sin
              comisión por apertura, ni por manejo de cuenta ni por pago anticipado y con una de las tasa más bajas del mercado.
              <br>
              <br> ¡Comienza tu solicitud de crédito ahora!

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingE">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
                8.- ¿Archivos que puedo subir?
              </button>
            </h5>
          </div>
          <div id="collapseE" class="collapse" aria-labelledby="headingE" data-parent="#accordion">
            <div class="card-body">
              *Unicamente archivos en formato .jpg, .png y .pdf, no mayores a 5Mb cada uno.
            </div>
          </div>
        </div>

      </div>
      <div class="text-center">
        <a (click)="goRegister()">
          <img src="assets/images/news/09.svg" class="btn img-fluid" width="40%">
        </a>
      </div>
    </div>
    <div class="col-md-2"></div>

  </div>


</div>