<div class="container-fluid animated fadeIn fast">
  <div class="row">
    <div class="col-md-12">
      <h1 class="gradiente text-center" style="font-size:25pt; font-weight:500;padding-top:45px;padding-bottom:45px">AVISO DE PRIVACIDAD</h1>
    </div>
  </div>
  <div class="row" style="padding-bottom:50px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-justify">
        Los datos personales y sensibles que los usuarios proporcionen al momento de su ingreso y/o registro
        al Sitio tienen como finalidad el crear un expediente y facilitar el acceso a su cuenta, así como a su configuración,
        como el cargar y descargar videos, fotos, sonidos, etc. La recopilación de datos se llevará a cabo única y exclusivamente
        a través de los formularios publicados en la web y de aquellos existentes de forma física en las oficinas de AvancExpress
        Contigo y se podrán verificar vía telefónica o por medios electrónicos. En caso de no contar con los datos señalados,
        AvancExpress Contigo no estaría en posibilidad de proporcionar su servicio, ya que los datos que se solicitan son
        indispensables para dar acceso y uso a la página web., (i) con previo consentimiento del usuario, podrá compartir
        y/o proporcionar la información financiera, comercial, operativa y personal del Usuario, así como la relativa a cualquier
        actividad que se promueve en el Sitio; y (ii) autoriza para que su información pueda ser utilizada por AvancExpress
        Contigo con fines mercadotécnicos y/o publicitarios, o para cumplimentar con las obligaciones contractuales contraídas
        con el usuario. El ingreso y/o registro a través del Sitio implica el consentimiento pleno y sin reservas de los
        usuarios para el tratamiento de sus datos personales de acuerdo con el presente Aviso de Privacidad.<br><br>
         AvancExpress Contigo cuenta con medidas físicas, técnicas y administrativas de seguridad para la protección de Datos Personales
        proporcionados por los usuarios. <br><br>
        En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de
        los Particulares, AvancExpress Contigo ofrece el siguiente medio de contacto, y el siguiente procedimiento, para
        acceder, rectificar, cancelar u oponer (ARCO) sus datos personales: <br><br>
        Acceso (A) y Rectificación (R): Para acceder a su información, el usuario deberá ingresar al Sitio, dar clic en "Iniciar Sesión" y llenar sus datos con los cuales
        registró su cuenta. Los datos podrá verlos en su panel de control, y específicamente en la sección "Mi Cuenta", en
        la parte superior derecha de la pantalla. El usuario podrá rectificar sus datos personales en esta misma sección.
        AvancExpress Contigo se reserva el derecho de verificar la veracidad de la información antes de realizar o autorizar
        el cambio. Cualquier duda sobre este procedimiento, favor de enviar un correo electrónico a contacto@avancexpress.com.mx
        o llamar al 01-938-286-1103. <br><br>
        Cancelación (C) y Oposición (O): El usuario tiene la facultad de eliminar su información
        en forma directa. Para ello, deberá ingresar a su cuenta en la dirección www.avancexpress.com.mx y elegir la opción
        "Mi Cuenta" en el menú de la parte inferior izquierda de su panel, deberá dar clic en "Eliminar Cuenta" y confirmar
        la eliminación con la contraseña que creó al registrarse. Los usuarios que tengan una relación jurídica con AvancExpress
        Contigo, como créditos activos o saldo en su cuenta de prestatario, no podrán eliminar su cuenta. AvancExpress Contigo
        podrá mantener información sobre la actividad del usuario en el portal para fines estadísticos, sin que esto suponga
        la retención de datos de identificación, documentos, o información sensible. AvancExpress Contigo se reserva la posibilidad
        de mantener datos requeridos para ejercer sus políticas de negocio, como evitar que solicitantes de crédito completen
        una nueva solicitud en menos de 6 meses si la solicitud original ha sido rechazada. <br><br>
        AvancExpress Contigo se reserva el derecho de modificar en cualquier momento el contenido del presente Aviso de Privacidad. Cualquier cambio en el
        Aviso de Privacidad les será informado a sus usuarios a través del Sitio. <br><br>
        Una vez que se publique el Aviso de Privacidad en el Sitio entrará en vigor automáticamente y deberá dar estricto cumplimiento al texto.
      </p>

    </div>
    <div class="col-md-2"></div>

  </div>


</div>