@import "../../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: #ffffff;  
}

.modal-title {
  font-weight: 150;
}

h1 {
  font-weight: 300;
}

.confirm-btn {
  border-radius: 15px !important;
}
