<footer class="footer section-footer">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <h2 class="footer-title">NOSOTROS -----------</h2>
        <p style="color: white;line-height: 1.5;">Somos una Empresa Joven e Innovadora dedicada a todas aquellas personas con Necesidades Financieras, con el Objetivo
          de apoyarte de manera rápida, segura y oportuna en la Satisfacción de una necesidad, en el cumplimiento de una
          meta, cubrir un gasto o darte un gusto.
        </p>
        <p style="color: white;font-weight: bold;line-height: 1">Lunes a Viernes de
          <br>
          <span style="color: #95d600; font-size:15pt">9AM a 6PM</span>
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="footer-title">CONTÁCTANOS -----------</h2>
        <p style="color: white;line-height: 1.5;">
          Calle 31 N 244
          <br> Col. Benito Juárez, 24180
          <br>Ciudad del Carmén, Camp. Mx.
          <br>
          <br> 01 (938) 131 4749
          <br><br>
          contacto@avancexpress.com.mx<br><br>
          ¿Quieres afiliar tu empresa? <a href="http://avancexpress.com.mx/presentacion.pdf" target="_blank">AvancExpress para empresas</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="footer-title">REDES SOCIALES -----------</h2>
        <p style="color: white;font-weight: bold;line-height: 1">
          <span style="color: #95d600">MANTENTE CONECTADO</span>
          ¡Recibe las últimas noticias y facilidades de crédito!
        </p>
        <a href="#">
          <img src="assets/images/news/55.svg" alt="AvancExpress" class="float-left" width="30px">
        </a>
        <a href="#">
          <img style="margin-left:10px" src="assets/images/news/56.svg" alt="AvancExpress" class="float-left" width="30px">
        </a>
        <a href="#">
          <img style="margin-left:10px" s src="assets/images/news/57.svg" alt="AvancExpress" class="float-left" width="30px">
        </a>
        <a href="#">
          <img src="assets/images/news/54.svg" alt="AvancExpress" class="float-right" width="70%">
        </a>

      </div>
    </div>
  </div>
</footer>