<div class="al-main section-register">
    <div class="al-content" style="padding-bottom:20px !important">

        <div class="row">
            <div class="col-md-4" style="padding-top:30px">
                <div class="card">
                    <!--<img class="card-img-top" src="assets/images/news/106.svg" alt="Card image cap">-->
                    <div class="bd-card" style="height:350px;">
                        <p style="padding-top:270px;color:white;font-size:20pt;font-family: 'bebasneue';" class="text-center">
                            MARÍA LÓPEZ
                        </p>
                        <p style="color:white;font-size:15pt;" class="text-center">
                            maria.lopez@gmail.com
                        </p>
                    </div>
                    <div class="card-body" style="padding:0">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-active d-flex justify-content-between align-items-center">
                                <div class="form-group" style="width:100%">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <img class="mr-3" src="assets/images/news/110.svg" alt="Generic placeholder image" width="9%" height="auto">
                                            <span style="font-size:13pt">PERFIL</span>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="form-group" style="width:100%">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <img class="mr-3" src="assets/images/news/111.svg" alt="Generic placeholder image" width="9%" height="auto">
                                            <span style="font-size:13pt">ACTIVIDAD RECIENTE</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-square badge-danger badge-pill">9</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="form-group" style="width:100%">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <img class="mr-3" src="assets/images/news/112.svg" alt="Generic placeholder image" width="9%" height="auto">
                                            <span style="font-size:13pt">EDITAR PERFIL</span>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top:10px">
                <h2 class="title">RECOMPENSAS</h2>
                <div class="body-dash">
                    <img src="assets/images/news/101.svg" class="mx-auto d-block" width="70%">
                    <h2 class="title" style="padding-top:20px!important">¿CUANTO DEBO?</h2>
                    <h2 class="title" style="color:#0e3d89;font-size:50pt;padding-top:0!important">$5,450</h2>
                    <div class="form-group text-center">
                        <a>
                            <img src="assets/images/news/114.svg" class="btn" width="60%">
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-4" style="padding-top:10px">
                <h2 class="title">NIVEL DE CUMPLIMIENTO</h2>
                <div class="body-dash">
                    <img src="assets/images/news/97.svg" class="mx-auto d-block" width="90%">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="circle circle-green"></div>
                                <label class="title-one">A TIEMPO</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="circle circle-blue-one"></div>
                                <label class="title-one">A DESTIEMPO</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="circle circle-blue-two"></div>
                                <label class="title-one">NO PROCEDIO EL PAGO</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="circle circle-purple"></div>
                                <label class="title-one">NO PAGO</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control border" rows="6" id="comment" placeholder="ESCRIBE UNA PREGUNTA"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <a>
                            <img src="assets/images/news/113.svg" class="btn" width="60%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="notificationFiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="assets/images/icon.png" width="135" height="30" alt="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tus archivos se subieron correctamente. Te confirmaremos a la brevedad la respuesta sobre tu solicitud.</p>
                </div>
            </div>
        </div>
    </div>